<h2>Add a quail!</h2>

<form method='POST' action='/quails/add'>
  <input type='text' name='name' placeholder='name'>
  <input type='text' name='image' placeholder='image url'>
  <textarea name='description' placeholder='Tell me bout that hawt quail'></textarea>
  <button type="submit">Submit that gorgeous Quail</button>
</form>
